.hero {
	min-height: 80vh;
	position: relative;
	background: url("../../assets/img/hero-section.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.hero::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #0a0603;
	z-index: -1;
}

.container {
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: var(--vertical-padding) var(--horizontal-padding);
	background: rgba(0, 0, 0, 0.7);
}

.content {
	text-align: center;
	color: var(--color-secondary);
}

.title {
	font-size: 2.5rem;
}

.subtitle {
	margin-top: 4px;
	color: var(--color-primary);
	font-size: 1.25rem;
}

.cta_btn {
	margin-top: 16px;
	display: inline-block;
	background-color: var(--color-secondary);
	padding: 12px 36px;
	border-radius: 4px;
	color: var(--color-white);
	font-size: 1.25rem;
	text-decoration: none;
	transition: all 0.3s ease;
}

.cta_btn:hover {
	background-color: var(--color-hover-primary);
}

@media (min-width: 1200px) {
	.hero {
		background-size: contain;
		background-repeat: repeat-x;
	}

	.title {
		font-size: 2.8rem;
	}

	.subtitle {
		font-size: 1.3rem;
	}

	.cta_btn {
		font-size: 1.3rem;
	}
}
