* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--color-primary: #16697a;
	--color-secondary: #ffa62b;
	--color-white: #ffffff;
	--color-black: #000000;

	--color-hover-primary: #8cc29b;
	--color-hover-secondary: #ffc107;

	--color-border: #d4d4d4;

	--color-background: #f8f1f1;
	--color-background-secondary: #16697a;

	--color-shadow: rgba(0, 0, 0, 0.3);

	--vertical-padding: 36px;
	--horizontal-padding: 16px;
}

html,
body {
	min-height: 100vh;
	color: var(--color-secondary);
	font-size: 1rem;
}

body {
	background: var(--color-background);
}

h1,
h2,
h3,
h4 {
	font-family: var(--font-cormorant), sans-serif;
	font-weight: 700;
}

h5,
h6 {
	font-family: var(--font-cormorant), sans-serif;
	font-weight: 400;
}

body,
p,
span,
li {
	font-family: var(--font-lato), sans-serif;
	font-weight: 400;
}

strong {
	font-family: var(--font-lato), sans-serif;
	font-weight: 500;
}

button {
	font-family: var(--font-montserrat), sans-serif;
	font-size: 1rem;
	font-weight: 500;
}
